body {
  font-family: Roboto; }

.anhlon img {
  width: 100%; }

.custom {
  width: 105px !important; }

.in-body {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 100px; }

.in-body2 {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 100px; }

.i-body {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 100px; }

.in-body-st3 {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 100px; }

.in-body-st2 {
  margin: 0 auto;
  width: 80%; }

.stopwatch {
  text-align: center; }

.logo {
  padding-right: 50px; }

.navbar-light .navbar-nav .nav-link {
  color: #7F8FA4;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px; }

.rounded-pill.nut:hover {
  background-color: #ff6176; }

.h-nav {
  height: 85px; }
  .h-nav .menu:hover {
    font-weight: 600;
    color: #334150; }
  .h-nav .nav-item:hover {
    border-bottom: 3px solid #E8539D; }
  .h-nav .nav-item1 {
    padding-top: 30px; }
  .h-nav .button {
    margin-right: 10px;
    border-color: #E1E8EE;
    background-color: white; }
  .h-nav ul {
    height: 88px; }

.section1 svg {
  width: 100%; }

.section1 .content-head {
  font-weight: bold;
  font-size: 40px; }

.section1 .left-content {
  font-size: 16px;
  color: #7F8FA4; }

.section1 button {
  width: 100%;
  background-color: #FF6289;
  color: white;
  padding: 13px;
  font-size: 20px;
  height: 57px; }

.section1 .col-md-4 {
  padding-top: 50px; }

.section2 .content-head2 {
  font-weight: bold;
  font-size: 28px; }

.section2 .dropdown {
  width: 386px;
  height: 58px;
  margin-bottom: 50px;
  width: 100%; }

.section2 svg {
  width: 100%;
  padding-bottom: 210px; }

.section2 .nut {
  width: 100%;
  background-color: #FF6289;
  color: white;
  padding: 13px;
  font-size: 20px;
  height: 57px; }

.section2 label {
  color: #334150;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 40px; }

.section2 select {
  background-color: white;
  border-color: #E1E8EE;
  color: #7F8FA4;
  height: 59px;
  width: 100%;
  margin-bottom: 30px; }

.section2 .col-md-4 {
  text-align: center;
  padding-top: 50px; }

.section2 img {
  padding-bottom: 20px; }

.section2 .tinh {
  width: 316px; }

.section3 {
  text-align: center; }
  .section3 .content-head2 {
    font-weight: bold;
    font-size: 28px; }
  .section3 .content {
    font-size: 20px;
    color: #7F8FA4; }
  .section3 .box {
    width: 32%;
    height: 338px;
    background-color: #FBFCFD;
    padding: 0 0;
    margin: 9px 6px;
    border-radius: 8%; }
    .section3 .box .love {
      padding-top: 40px; }
    .section3 .box .car {
      padding-top: 69px; }
  .section3 .box {
    transition: box-shadow .3s; }
  .section3 .box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }
  .section3 .box-header {
    font-weight: bold;
    font-size: 15px;
    padding-top: 41px; }
  .section3 .human {
    padding-top: 40px; }
  .section3 .box-content {
    color: #7F8FA4;
    font-size: 14px; }
  .section3 .XCT {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none; }
    .section3 .XCT a {
      color: #30BEBC; }
    .section3 .XCT a:hover {
      color: #FF6289; }

.section4 {
  text-align: center; }
  .section4 svg {
    padding-right: 5px; }
  .section4 .content-head2 {
    font-weight: bold;
    font-size: 28px; }
  .section4 .box {
    width: 32%;
    height: 338px;
    background-color: #FBFCFD;
    padding: 0 0;
    margin: 9px 6px;
    border-radius: 8%; }
    .section4 .box input {
      margin-left: 5px; }
    .section4 .box .dautien {
      margin-left: 9%; }
  .section4 .circle {
    color: #3D4D6B;
    font-weight: bold;
    padding-bottom: 40px; }
    .section4 .circle img {
      padding-right: 10px; }
    .section4 .circle b {
      font-size: 25px; }
  .section4 .chon {
    width: 245px;
    margin-top: 20px;
    margin-left: 5px; }
  .section4 .gui {
    width: 308px;
    border-color: #E1E8EE;
    border-radius: 5px; }
  .section4 .gui1 {
    width: 84%; }
  .section4 .le {
    height: 30%; }
  .section4 .le1 {
    height: 35%; }
  .section4 .STK {
    border: 1px solid #E1E8EE;
    width: 84%;
    margin-left: 23px;
    background-color: white;
    border-radius: 5px; }
    .section4 .STK div {
      display: inline-block;
      padding: 5px 0px; }
    .section4 .STK .STK-1 {
      width: 40%;
      float: left; }
  .section4 .QTBT {
    padding-bottom: 70px; }
  .section4 .section4 .box {
    border-radius: 8%; }
  .section4 .in-circle {
    padding-left: 20px; }

.section5 {
  text-align: center; }
  .section5 svg {
    width: 100%; }
  .section5 p {
    font-size: 23px;
    font-weight: bold; }
  .section5 .right {
    padding-top: 15%; }

.section6 {
  background-color: #30BEBC;
  color: white; }
  .section6 a {
    color: white;
    text-decoration: none;
    background-color: transparent; }
  .section6 .content {
    height: 30px; }
  .section6 .main-content {
    margin-left: 60px;
    margin-right: 60px;
    height: 280px; }
  .section6 .small-pic {
    padding-left: 10px;
    padding-right: 10px; }
  .section6 .icon {
    padding-right: 20px; }
  .section6 .LH {
    font-size: 20px;
    padding-left: 20px; }
  .section6 .OK {
    font-size: 20px;
    padding-bottom: 10px; }
  .section6 li {
    padding-bottom: 5px;
    padding-top: 5px; }
  .section6 .icon-left {
    display: inline-block;
    width: 10%; }
    .section6 .icon-left img {
      margin-bottom: 40px; }
  .section6 .content-right {
    display: inline-block;
    width: 70%; }
    .section6 .content-right img {
      margin-bottom: 25px; }

button {
  border-style: none; }

@media (min-width: 320px) and (max-width: 374px) {
  .h-nav {
    height: auto; }
  .h-nav ul {
    height: auto; }
  .navbar-light .navbar-nav .nav-link {
    padding-top: 5px;
    padding-left: 0px; }
  .h-nav .nav-item1 {
    padding-top: 15px; }
  .in-body-st2 {
    margin: 0 auto;
    width: 90%; }
  .section1 .col-md-4 {
    padding-top: 0px; }
  .in-body {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px; }
  .in-body-st2 {
    width: 100%; }
  .section6 {
    height: auto; }
  .section6 .main-content {
    height: auto; }
  .section4 .box {
    margin: 9px 0px; }
  .anhlon img {
    padding-top: 50px; }
  .section1 button {
    margin-top: 20px; }
  .section2 .col-md-4 {
    padding-top: 0px; }
  .section4 .STK {
    width: 90%;
    margin-left: 16px; }
  .section4 .gui1 {
    width: 90%; }
  .section4 .box .dautien {
    margin-left: 13%; }
  .section3 .box {
    margin: 9px 0px;
    border-radius: 8%; }
  .section6 .main-content {
    margin-left: 0px;
    margin-right: 0px;
    height: 280px; }
  .section6 .icon-left {
    display: none; }
  .container-fluid {
    padding-right: 0px; }
  .section6 .main-content {
    height: auto; }
  .footer-content {
    padding-left: 0px; }
  .Lienhe {
    margin-bottom: 30px;
    margin-top: 30px; }
  .section6 .content-right {
    padding-left: 10px; }
  .appstore {
    padding-left: 65px;
    margin-bottom: 20px; }
  .ggplay {
    padding-left: 65px; }
  .in-box2 {
    margin-bottom: 30px; } }

@media screen and (max-width: 640px) {
  .h-nav {
    height: auto; }
  .h-nav ul {
    height: auto; }
  .section6 .main-content {
    height: auto; }
  .in-box2 {
    margin-bottom: 30px; }
  .navbar-light .navbar-nav .nav-link {
    padding-top: 5px;
    padding-left: 0px; }
  .h-nav .nav-item1 {
    padding-top: 15px; }
  .i-body {
    margin-bottom: 0px; }
  .appstore {
    padding-left: 50px;
    margin-bottom: 20px; }
  .ggplay {
    padding-left: 53px; }
  .section4 .QTBT {
    padding-bottom: 40px; }
  .anhlon {
    margin-top: 50px; }
  .in-body2 {
    margin-bottom: 0px; }
  .i-body {
    margin-bottom: 50px; }
  .Lienhe {
    margin-top: 30px; }
  .in-body-st3 {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 0px; } }

@media screen and (min-width: 768px) {
  .h-nav {
    height: auto; }
  .h-nav ul {
    height: auto; }
  .section6 .main-content {
    height: auto; }
  .in-box2 {
    margin-bottom: 30px; }
  .appstore {
    padding-left: 65px;
    margin-bottom: 20px; }
  .ggplay {
    padding-left: 65px; }
  .ggplay {
    padding-left: 0px; }
  .app-letter {
    padding-left: 46px; }
  .app-letter {
    padding-left: 85px; }
  .app-row {
    padding-left: 30px; }
  .section1 .left-content {
    padding-bottom: 50px; }
  .rounded-pill {
    margin-bottom: 50px; }
  .section6 .OK {
    margin-top: 50px; }
  .section6 .icon-left {
    width: 5%; }
  .navbar-light .navbar-nav .nav-link {
    padding-top: 10px; }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5); } }

@media (min-width: 992px) {
  .logo {
    padding-right: 0px;
    padding-top: 15px; }
  .navbar-expand-lg .navbar-collapse {
    padding-left: 20px; }
  .in-body-st2 {
    width: 100%; }
  .menu {
    margin-top: 23px; }
  .logo {
    padding-left: 20px; }
  .navbar-light .navbar-nav .nav-link {
    padding-top: 0px; }
  .h-nav .button {
    margin-right: 0px;
    border-color: #E1E8EE;
    background-color: white; }
  .section6 .icon-left {
    width: 3%; }
  .appstore {
    padding-left: 68px; }
  .ggplay {
    padding-left: 70px; }
  .app-letter {
    padding-left: 53px; }
  .Lienhe {
    margin-top: 0px; }
  .section3 .box {
    transition: box-shadow .3s;
    margin-left: 125px; }
  .anhlon {
    margin-top: 0px; }
  .anhlon {
    margin-top: 70px; }
  .in-body2 {
    width: 100%; }
  .nav-item {
    height: 70px; }
  .in-body-st2 {
    height: 78px; }
  .logo {
    width: 16%;
    padding-bottom: 25px;
    padding-left: 40px; }
  .navbar-light .navbar-nav .nav-link {
    padding-left: 2px; }
  .logo {
    width: 14%; }
  .h-nav .nav-item1 {
    padding-top: 15px; } }

@media (min-width: 1200px) {
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 32.333333%; }
  .section3 .box {
    transition: box-shadow .3s;
    margin-left: 0px; }
  .logo {
    width: 29%;
    text-align: center;
    padding-bottom: 25px;
    padding-left: 0px; }
  .ggplay {
    padding-left: 102px; }
  .appstore {
    padding-left: 100px;
    margin-bottom: 10px; }
  .section6 .content-right {
    padding-left: 15px; }
  .nav-item {
    height: 70px; }
  .in-body-st2 {
    height: 78px; }
  .section6 .OK {
    margin-top: 0px; }
  .section4 .STK {
    margin-left: 32px; }
  .section4 .chon {
    margin-left: 1px; }
  #navbarTogglerDemo02 {
    padding-left: 0px; }
  .navbar-light .navbar-nav .nav-link {
    padding-right: 20px; }
  .chuanhlon {
    padding-top: 70px; }
  .stopwatch {
    padding-top: 120px; }
  .h-nav .nav-item1 {
    padding-top: 15px; } }
